* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  display: grid;
  width: 85%;
  margin: 5.5rem auto 5.5rem auto;
  border-radius: 2rem;
  background-color: #f3f4f6;
  background-image: url("resources/Background_decor.svg");
  background-repeat: no-repeat;
}
.container .section-header {
  margin: 2rem;
  max-width: 30rem;
}
.container .section-header .pre-heading {
  color: #263fa9;
}
.container .section-header .section-title {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.container .section-header p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #394150;
}
.container .member-list {
  display: contents;
  padding: 0;
  margin: 0;
  list-style: none;
}
.container .member-list li {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.container .member-list li:nth-child(1) {
  background-color: #c1b6f8;
}
.container .member-list li:nth-child(2) {
  background-color: #edacd2;
}
.container .member-list li:nth-child(3) {
  background-color: #9dc4f8;
}
.container .member-list li:nth-child(4) {
  background-color: #f8d8b0;
}
.container .member-list li:nth-child(5) {
  background-color: #86e7d4;
}
.container .member-list li img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.container .member-list li .gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}
.container .member-list li p {
  color: white;
  z-index: 1;
  white-space: nowrap;
}
.container .member-list li .member-name {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  bottom: 3rem;
  left: 5%;
}
.container .member-list li .member-role {
  position: absolute;
  font-size: 1rem;
  bottom: 1rem;
  left: 5%;
}
.container .see-all-members {
  margin: 2rem;
  display: flex;
  align-items: flex-end;
}
.container .see-all-members .see-all-members-link {
  display: inline-flex;
  gap: 0.4em;
}
.container .see-all-members a {
  vertical-align: bottom;
  text-decoration: none;
  color: #394150;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .container {
    aspect-ratio: 2/1;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .container .section-header {
    grid-column: span 2;
  }
  .container .member-list li:nth-child(2) {
    border-top-right-radius: 2rem;
  }
  .container .member-list li:last-child {
    border-bottom-right-radius: 2rem;
  }
  .container .member-list li:last-child .gradient {
    border-bottom-right-radius: 2rem;
  }
  .container .see-all-members {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .container {
    aspect-ratio: 1/1;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .container .section-header {
    grid-column: span 3;
  }
  .container .member-list li:last-child {
    border-bottom-right-radius: 2rem;
  }
  .container .member-list li:last-child .gradient {
    border-bottom-right-radius: 2rem;
  }
  .container .see-all-members {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 640px) {
  .container {
    width: 95%;
    margin: 1rem auto 1rem auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 18.5rem repeat(6, 1fr);
  }
  .container > :first-child {
    height: 18.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
